*{
    scroll-behavior: smooth;
    font-family: "El Messiri",sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
body{
background-color: #F9F6F2;
}

.montserrat{
    font-family: "Montserrat", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.button{
    font-size: 20px;
    font-weight:bolder;
    color: #A6342B;
    border: 2px solid #A6342B;
    border-radius: 6px;
    padding: 9px 20px;   
}

a{
    color: black;
}

p{
    letter-spacing: 5%;
}

@font-face {
    font-family: El Messiri;
    src: url(./fonts/ElMessiri.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .button{
    font-size: 22px;
    font-weight:bolder;
    color: #A6342B;
    border: 2px solid #A6342B;
    border-radius: 6px;
    padding: 9px 19px;   
}

.header nav{
    display: flex;
    gap: 24px;
}

.logo{
    display: flex;
    align-items: center;
}
.logo p span{
    font-size: 36px;
    font-weight: 900;
    line-height: 1;
} 
.logo p{
    font-size: 16.2px;
    margin: 0px;
    line-height: 1;

}
.logo img{
    width: 67px;
    height: 67px;
}


.info-bacground{
    width: 1242px;
    height: 630px;
    background-image: url(./images/ingo-bacgrounf.jpg);
    padding: 25px 10px;
}
.info-bacground h1{
    letter-spacing: 6.7%;
    font-size: 64px;
    font-weight: 400;
}
.info-bacground p{
    font-size: 22px;
    margin-bottom: 45px;
}
.info-bacground a{ 
    font-weight: 300;
    color: white;
    background-color: #A6342B;
}



.advantages{
    display: flex;
}
.advantages .block{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantages p{
    font-size: 18px;
    color: #000000;
    width: 220px;
    text-align: center;
}

.advantages h2{
    margin-bottom: 5px;
}